# Dependencies
node_modules/
.pnpm-store/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Docker volumes
docker/**/*_data/
!docker/**/*/
!docker/**/*.yml
!docker/**/*.yaml
!docker/**/*.json
!docker/grafana_config/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws
.idea_modules/

# IDE - Sublime Text
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Testing
coverage/
.nyc_output/

# Build
dist/
build/

# Temporary files
*.swp
*.swo
.temp/
.cache/

# Debug
.debug/
*.debug

# Misc
.tmp/
*.pid
*.seed
*.pid.lock

.cursorrules

# Docs
todo.md

# Make sure we don't ignore these important files
!LICENSE
!NOTICE

# Copy
.copy
scripts/updateCopyFile.sh